/* Reset some default styles for better consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set background image and color theme */
body {
    background-image: url('ambulance-background.jpg'); /* Replace with your ambulance background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f0f0f0; /* Fallback color */
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #10217d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.hero {
    max-width: 1000px;
    color: #ffffff;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
}

/* Style the navigation menu */
nav {
    background-color: #10217d; /* Semi-transparent black background */
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #0074d9; /* Button background color */
}

nav a:hover {
    background-color: #0056a7; /* Hovered button background color */
}

/* Style the main content */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for sections */
}

h2 {
    color: #0074d9;
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    line-height: 1.4;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Add additional styling for buttons, fonts, and spacing as needed */
